In [1]:
import pandas as pd

In [2]:
# Store filepath in a variable
file = "Resources/cities.csv"

In [3]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
data_df = pd.read_csv(file, encoding="utf-8")

In [4]:
data_df.head()

,City ID,City Name,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,107304,Buraidah,SA,26.33,43.98,31.00,35,75,8.20,1585384323
1,3833367,Ushuaia,AR,-54.80,-68.30,5.00,80,40,4.10,1585384149
2,4462716,Cumberland,US,35.05,-78.87,20.00,82,1,5.10,1585384355
3,2093967,Kimbe,PG,-5.55,150.14,25.71,87,100,1.16,1585384356
4,3175860,Gravina in Puglia,IT,40.82,16.42,15.00,76,20,1.50,1585384356

In [5]:
data_df.to_html('data.html')

UnicodeEncodeError: 'charmap' codec can't encode character '\u0101' in position 13260: character maps to <undefined>